# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
.env
.venv*/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# Data / outputs
*.pt
data/
outputs/
checkpoints/
logs/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
